myvenv
videos
audio
.env
.DS_Store
__pycache__
cookies.txt
instagram.txt
instagram0.txt
instagram1.txt
instagram2.txt
tiktok_cookie.txt
cookie_wallen.txt
cookie_weed.txt
test.py

# Mini App
mini-app/node_modules
mini-app/dist
mini-app/.vite